asgiref==3.6.0
Babel==2.12.1
backports.zoneinfo==0.2.1
Django==4.2
django-cors-headers==3.14.0
django-environ==0.10.0
django-money==3.0.0
djangorestframework==3.14.0
psycopg2==2.9.6
py-moneyed==2.0
pycodestyle==2.10.0
pytz==2023.3
sqlparse==0.4.4
typing-extensions==4.5.0
